@media  screen and (min-width: 768px){
    .title-header{
        text-align: left;
        padding: 0 20px;
    }


    .title-dessert::after{
        content: " (Dolce tradizionale)";
    }

    .recipe{
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        justify-content: flex-start;
        align-items: center;

    }
    iframe{
        width: 100% ;
        height: 380px;
    }

   .recipe li{
        margin: 10px 30px;
   }
    
   .btn{
    padding: 10px 50px;
    border-radius: 60px;
   }

   .ads{
    display: inline-block;
   }

   .tiramisu{
    float: left;
    margin-right: 20px;
   }
}


@media screen and (min-width: 992px){
    .row{
        display: flex;
    }
    iframe{
        width: 100% ;
        height: 100%;
    }
}