/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILS*/
body{
    font-family: 'Helvetica neue', sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
}

/* GENERIC */   
#header{
    height: 100px;
    width: 100%;
}

.title-header{
    font-family: 'Nerko One', cursive;
    color: #FF9614;
    text-shadow: 2px 2px black;
    text-align: center;
}